<section>
  <div class="container">
    <div>
      <img
        ngSrc="hero.webp"
        alt="Photo of Kacper Kowalski"
        width="1600"
        height="1600"
        sizes="50vw"
      />
    </div>
    <div>
      <p>Hi, I'm</p>
      <h1>Kacper Kowalski</h1>
      <p>
        Junior Frontend Developer with a passion for building modern web
        applications using Angular. I'm currently looking for my first
        professional opportunity to grow and contribute in the tech industry.
      </p>
      <a class="button" (click)="onNavigateToSection('contact')">Let’s Talk</a>

      <a class="button" (click)="onNavigateToSection('projects')"
        >See My Work</a
      >
    </div>
  </div>
</section>
