.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing8);
  align-items: center;
}

.button {
  display: inline-block;
  margin-top: var(--spacing5);
}

.button:last-child {
  margin-left: var(--spacing6);
}
