<section id="experience" class="background-color">
  <div class="container">
    <h2>Work experience</h2>
    <div class="experience">
      <img src="wb.jpeg" alt="WB Electronics logo" loading="lazy" />
      <div class="experience-entry">
        <h4>Data Specialist for Data Set Development</h4>
        <h5>WB Electronics · 2023–Present</h5>
        <p>
          Responsible for developing data sets to support machine learning
          training. Tasks included creating annotations, designing catalog
          structures, and delivering high-quality data to the ML department. I
          also wrote Python scripts to automate and streamline data preparation
          processes.
        </p>
      </div>
    </div>

    <h2>Education</h2>
    <div class="experience">
      <img
        src="pw.jpg"
        alt="Warsow University of Technology logo"
        loading="lazy"
      />
      <div class="experience-entry">
        <h4>Warsaw University of Technology</h4>
        <h5>Faculty of Electronics and Information Technology · 2019–2023</h5>
        <p>
          Bachelor of Engineering in Electronics. Gained knowledge in signal
          processing, embedded systems, and programming. Participated in
          practical projects applying modern technologies in electronics and
          computing.
        </p>
      </div>
    </div>
  </div>
</section>
