<section id="projects">
  <div class="container">
    <h2>Projects</h2>
    <div class="projects">
      @for (project of projects; track project.title) {
      <app-project [project]="project"></app-project>}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2>Tech Stack</h2>
    <div class="skill-gallery">
      <img
        ngSrc="skill-gallery/angular.webp"
        alt="Angular Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
      <img
        ngSrc="skill-gallery/rxjs.webp"
        alt="RxJs Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
      <img
        ngSrc="skill-gallery/js.webp"
        alt="JavaScript Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
      <img
        ngSrc="skill-gallery/ts.webp"
        alt="TypeScript Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
      <img
        ngSrc="skill-gallery/css.webp"
        alt="CSS Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
      <img
        ngSrc="skill-gallery/html.webp"
        alt="HTML Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
      <img
        ngSrc="skill-gallery/github.webp"
        alt="GitHub Logo"
        width="380"
        height="380"
        sizes="10vw"
      />
    </div>
  </div>
</section>
