header {
  border-bottom: solid var(--background-color);
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 6rem;
  padding: 0 3rem;
}

h2 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
